.attendence {
    height: 72px;
width: 480px;
left: 480px;
top: 122px;
border: 5px solid rgba(22, 120, 203, 1);
background:  rgba(22, 120, 203, 1);
border-radius: 5px;

}
.information {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 600;
   color: rgba(255, 255, 255, 1);


}